name: Release Candidate

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: false

jobs:
  ci:
    name: Quality Checks
    uses: ./.github/workflows/_qualityChecks.yml
    with:
      AWS_REGION: 'eu-west-2'
      STAGE: 'development'
    secrets:
      ROLE_TO_ASSUME: ${{ secrets.DEV_DEPLOYMENT_ROLE }}

  ephemeralEnv:
    name: Ephemeral Environment branch tests
    uses: ./.github/workflows/_buildDeploy.yml
    with:
      AWS_REGION: 'eu-west-2'
      STAGE: pr-${{ github.event.pull_request.number }}
    secrets:
      ROLE_TO_ASSUME: ${{ secrets.DEV_DEPLOYMENT_ROLE }}
