name: Release Candidate

on:
  pull_request:
    branches: [main]

jobs:
  ci:
    name: Quality Checks
    secrets: inherit # pragma: allowlist secret
    uses: ./.github/workflows/_qualityChecks.yml
