name: Release Candidate

on:
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout repo
        uses: actions/checkout@b3498302c5c423fa896b97a26bb183df735d08f8 # v4.3.0
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Lint & format check
        run: echo 'TODO implement linting and format check'

      - name: Build
        run: echo 'TODO implement build'

      - name: Unit Tests
        run: echo 'TODO implement unit tests'

      - name: Run Semgrep
        run: echo 'TODO implement semgrep'

      - name: Run TFLint
        run: echo 'TODO implement tflint'

      - name: Run Checkov
        run: echo 'TODO implement checkov'
