name: Destroy Ephemeral Environment

on:
  pull_request:
    types: [closed]

permissions:
  id-token: write # Required for AWS OIDC
  contents: read

jobs:
  destroy:
    runs-on: ubuntu-latest
    env:
      STAGE: pr-${{ github.event.pull_request.number }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: |
          npm install -g pnpm@latest-10
          pnpm install

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@56d6a583f00f6bad6d19d91d53a7bc3b8143d0e9 # v5.1.1
        with:
          role-to-assume: ${{ secrets.DEV_DEPLOYMENT_ROLE }}
          aws-region: eu-west-2
          role-session-name: ${{ github.run_id }}

      - name: Destroy Stack
        run: cd ./platform/infra/flex && pnpm run destroy --force
