name: Continuous Deployment

on:
  push:
    branches: [main]

jobs:
  qualityChecks:
    name: Quality Checks
    uses: ./.github/workflows/_qualityChecks.yml
    with:
      AWS_REGION: 'eu-west-2'
      STAGE: 'development'
    secrets:
      ROLE_TO_ASSUME: ${{ secrets.DEV_DEPLOYMENT_ROLE }}
      SONAR_TOKEN_FLEX: ${{ secrets.SONAR_TOKEN_FLEX }}
      SONAR_URL: ${{ secrets.SONAR_URL }}

  deployDev:
    name: Deploy to Development
    needs: qualityChecks
    uses: ./.github/workflows/_buildDeploy.yml
    with:
      AWS_REGION: 'eu-west-2'
      STAGE: 'development'
    secrets:
      ROLE_TO_ASSUME: ${{ secrets.DEV_DEPLOYMENT_ROLE }}

  deployStaging:
    name: Deploy to Staging
    needs: deployDev
    uses: ./.github/workflows/_buildDeploy.yml
    with:
      AWS_REGION: 'eu-west-2'
      STAGE: 'staging'
    secrets:
      ROLE_TO_ASSUME: ${{ secrets.STAGING_DEPLOYMENT_ROLE }}
